[Unit]
Description=AOSC OS Out-of-box Setup (GUI)
ConditionFirstBoot=true
ConditionPathExists=!/var/lib/dpkg/info/kde-base.list
DefaultDependencies=no
# Make sure the ConditionFirstBoot above evaluates into true
Wants=first-boot-complete.target
After=systemd-remount-fs.service
# systemd-firstboot requires systemd-vconsole-setup, which disrupts seat0, thus disrupting kmscon.
Before=systemd-vconsole-setup.service systemd-firstboot.service first-boot-complete.target sysinit.target

[Install]
WantedBy=first-boot-complete.target

[Service]
Type=oneshot
# Quit Plymouth before launching kmscon to avoid a system hang
ExecStartPre=-/usr/bin/plymouth --quit --wait
ExecStart=/usr/libexec/kmscon/kmscon-no-multiseat -l --debug --vt /dev/tty1 --no-switchvt -- /usr/bin/aosc-os-oobe-cli-launcher
