[Unit]
Description=AOSC OS Out-of-box Setup (GUI)
ConditionFirstBoot=true
ConditionPathExists=/var/lib/dpkg/info/kde-base.list
DefaultDependencies=no
After=modprobe@drm.service systemd-remount-fs.service systemd-udevd.service systemd-firstboot.service
Wants=first-boot-complete.target
Before=display-manager.service first-boot-complete.target

[Install]
WantedBy=first-boot-complete.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/aosc-os-oobe-gui-launcher
