[Unit]
Description=AOSC OS Out-of-box Setup (GUI)
ConditionFirstBoot=true
ConditionPathExists=/var/lib/dpkg/info/kde-base.list
After=modprobe@drm.service systemd-remount-fs.service systemd-firstboot.service
Before=display-manager.service sddm.service multi-user.target

[Install]
WantedBy=first-boot-complete.target multi-user.target display-manager.service

[Service]
Type=oneshot
ExecStart=xinit /usr/bin/aosc-os-oobe-gui.xinit
